#root {
  margin: auto;
  position: relative;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.canvas {
  /* margin: 3rem; */
  /* border: 1px solid black; */
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;  
  right: 1rem;
  top: 1rem;
}