#root {
  margin: auto;
  position: relative;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.canvas {
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
}

#menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;  
  padding: .5rem;
  row-gap: .5rem;
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
}

#menu input[type="color"] {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

#menu h4 {
  margin: 0;
}